{
  "env": {
  },
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "5.10",
          "browsers": ["last 2 versions"]
        },
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "ignore": [
  ]
}
